.message-card {
    padding: 12px 16px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    color: orange;
    font-size: 14px;
    max-width: 400px;
}

.button-card {
    padding: 5px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 8px;
}

.button-card:hover {
      background-color: rgb(171, 111, 0);
}