.counter-container {
    max-width: 480px;
    margin: 80px auto;
    padding: 24px;
    text-align: center;
}

.description, .explanation {
    color: #555;
    font-size: 14px;
    margin-bottom: 16px;
}

.counter-box {
    background: #f5f5f5;
    padding: 24px;
    border-radius: 12px;
}

.count-value {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

button {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #4f46e5;
    color:white;
}

button:hover {
    background-color: #4338ca;
}

.toggle-btn {
    margin: 16px 0;
    padding: 10px 18px;
    background-color: #2563eb;
    color: #ffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}